<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<Properties xmlns="http://schemas.openxmlformats.org/officeDocument/2006/extended-properties" xmlns:vt="http://schemas.openxmlformats.org/officeDocument/2006/docPropsVTypes"><Template>Normal</Template><Company>CHINA</Company><Pages>13</Pages><Words>3167</Words><Characters>8132</Characters><Lines>2</Lines><Paragraphs>1</Paragraphs><TotalTime>198</TotalTime><ScaleCrop>false</ScaleCrop><LinksUpToDate>false</LinksUpToDate><CharactersWithSpaces>9764</CharactersWithSpaces><Application>WPS Office_12.1.0.26895_F1E327BC-269C-435d-A152-05C5408002CA</Application><DocSecurity>0</DocSecurity></Properties>